<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<section class="body-info-section" style="min-height: 50vh;">
	<div class="content-secton-info">
		<div class="full-container">
			<h1>404</h1>
            <h3>Route not found</h3>
		</div>
	</div>
</section>
<%- include('./partials/footer'); %>