<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<section class="element-section">
	<div class="element-background-overlay"></div>
	<div class="content-element-header-info">
		<div class="element-pading-section">
			<div class="element-info-section">
				<div class="info-title-section">
					Productos oránicos de la mejor caldiad.
				</div>
				<div class="info-subtitle-section">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</div>
			</div>
		</div>
	</div>
	<div class="wabe" style="overflow: hidden">
		<svg
			viewBox="0 0 500 150"
			preserveAspectRatio="none"
			style="height: 100%; width: 100%"
		>
			<path
				d="M-0.33,91.08 C145.26,104.90 293.11,19.04 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
				style="stroke: none; fill: #fff"
			></path>
		</svg>
	</div>
</section>
<section class="body-info-section">
	<div class="content-secton-info">
		<div class="full-container">
			<h1 class="h-title">Últimos Productos</h1>
			<hr class="separador-text">
			<div class="products-container">
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="body-info-section">
	<div class="content-secton-info">
		<div class="full-container">
			<h1 class="h-title">Ofertas</h1>
			<hr class="separador-text">
			<div class="products-container">
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.250</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.250</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.250</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer'); %>
