<%- include('./partials/head'); %>
<%- include('./partials/header'); %>
<section class="body-info-section">
	<div class="content-secton-info">
		<div class="full-container">
			<div class="ud-container">
                <div class="image">
                    <img src="img/uds/curso.png" alt="ud">
                </div>
                <div class="description">
					<h1 class="h-title">Agroindustria</h1>
					<hr class="separador-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus qui, vitae, nihil soluta exercitationem placeat laudantium facilis consequuntur aut quisquam ducimus vel suscipit ipsa dolore. Ab soluta nostrum suscipit porro saepe cum natus dolore quis omnis ipsam, unde iste veniam. Harum mollitia expedita, accusamus enim corporis velit? Laboriosam repellendus id, voluptatem possimus repudiandae dignissimos cum odio sunt architecto, harum eligendi laborum accusantium ipsa eaque pariatur autem eos perferendis obcaecati optio aliquam quia quam vitae! Incidunt harum, quas beatae et ratione quaerat quia omnis eum? Tenetur veritatis eius quisquam, quia minima nostrum maxime, ex, quis deserunt recusandae nam facere obcaecati? Autem!
                </div>
			</div>
            <h1 class="h-title mt-3">Productos</h1>
			<hr class="separador-text">
			<div class="products-container">
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
				<a href="buy">
					<div class="item-container">
						<div class="image-container">
							<img src="img/products/product.jpg" alt="producto">
						</div>
						<div class="info-container">
							<div class="price-container">
								<h3>$ 3.500</h3>
							</div>
							<div class="description-container">
								Lorem, ipsum dolor sit amet consectetur adipisicing.
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<%- include('./partials/footer'); %>