<%- include('./partials/head'); %>
<%- include('./partials/header'); %>

<section class="body-info-section">
	<div class="content-secton-info">
		<div class="full-container">
			<h1 class="h-title">Unidades Productivas</h1>
			<hr class="separador-text">
			<div class="uds-container">
				<a href="ud">
					<div class="ud-item">
                        <div class="name">Agroindustria</div>
                        <div class="imagen">
                            <img src="img/uds/curso.png" alt="unidades">
                        </div>
                        <div class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis minus rem aliquam soluta, tempora impedit, ex suscipit voluptates nam itaque vitae laudantium perspiciatis veniam minima eum, officia aperiam quibusdam veritatis.
                        </div>
                    </div>
				</a>
				<a href="ud">
					<div class="ud-item">
                        <div class="name">Agroindustria</div>
                        <div class="imagen">
                            <img src="img/uds/curso.png" alt="unidades">
                        </div>
                        <div class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis minus rem aliquam soluta, tempora impedit, ex suscipit voluptates nam itaque vitae laudantium perspiciatis veniam minima eum, officia aperiam quibusdam veritatis.
                        </div>
                    </div>
				</a>
				<a href="ud">
					<div class="ud-item">
                        <div class="name">Agroindustria</div>
                        <div class="imagen">
                            <img src="img/uds/curso.png" alt="unidades">
                        </div>
                        <div class="description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis minus rem aliquam soluta, tempora impedit, ex suscipit voluptates nam itaque vitae laudantium perspiciatis veniam minima eum, officia aperiam quibusdam veritatis.
                        </div>
                    </div>
				</a>
			</div>
		</div>
	</div>
</section>

<%- include('./partials/footer'); %>