<body>
    <div class="container">
        <div class="content-header">
            <div class="limiter-width-page">
                <div class="header-page">
                    <div class="header-logo"></div>
                    <div class="empresa-nombre"></div>
                    <div class="right-logo"></div>
                </div>
            </div>
            <header>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="#" class="bt-close"><span class="icon-cross"></span></a>
                        </li>
                        <li>
                            <a href="/admin">Inicio</a>
                        </li>
                        <li>
                            <a href="/admin/usuarios">Usuarios</a>
                        </li>
                        <li>
                            <a href="/admin/productos">Productos</a>
                        </li>
                        <li>
                            <a href="/admin/punto-venta">Punto de Venta</a>
                        </li>
                        <li>
                            <a href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-visible">
                    <div class="menu_bar open-close">
                        <a href="#e" class="bt-menu" id="btn-menu">
                            <div class="icon-align"><span class="icon-menu"></span></div>
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="admin">Usuario</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div class="separator"></div>