    <section class="element-section-footer">
        <div class="content-section-footer">
            <div class="element-unic-section-footer-block">
                <div class="element-block-unic">
                    <div class="element-row element-title">
                        <div class="slogan">
                            <img
                                src="img/logos/logoSena.png"
                                alt="SENA"
                            />
                        </div>
                        <div class="red-social-boton">
                            <a href="#"><span class="icon-instagram"></span></a>
                        </div>
                        <div class="red-social-boton">
                            <a href="#"><span class="icon-facebook"></span></a>
                        </div>
                        <div class="red-social-boton">
                            <a href="#"><span class="icon-youtube"></span></a>
                        </div>
                        <div class="red-social-boton">
                            <a href="#"><span class="icon-whatsapp"></span></a>
                        </div>
                    </div>
                    <div class="element-row">
                        <a class="info-row-btn" href="#">Linea General: 31355555</a>
                    </div>
                    <div class="element-row">
                        <a class="info-row-btn" href="#">Llámanos: 315555555</a>
                    </div>
                </div>
            </div>
            <div class="container-section-blocks">
                <div class="element-section-footer-block">
                    <li class="menu_item container_submenu">
                        <a href="#sdsad" class="menu_link submenu-btn">
                            <div class="text-title-block">Acerca de Nosotros</div>
                            <div class="rotate-item">
                                <span class="icon-cheveron-down"></span>
                            </div>
                        </a>
                        <ul class="submenu">
                            <li class="menu__item">
                                <a href="" class="menu_link">Acerca de Nosotros</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Métodos de Pago</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">¿Por qué Nosotros?</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Blog</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="element-section-footer-block">
                    <li class="menu_item container_submenu">
                        <a href="#sdsad" class="menu_link submenu-btn">
                            <div class="text-title-block">Oficinas</div>
                            <div class="rotate-item">
                                <span class="icon-cheveron-down"></span>
                            </div>
                        </a>
                        <ul class="submenu">
                            <li class="menu__item">
                                <a href="" class="menu_link">Oficinas</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Pitalito</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Barranquilla</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Bogotá</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="element-section-footer-block">
                    <li class="menu_item container_submenu">
                        <a href="#sdsad" class="menu_link submenu-btn">
                            <div class="text-title-block">Contacto</div>
                            <div class="rotate-item">
                                <span class="icon-cheveron-down"></span>
                            </div>
                        </a>
                        <ul class="submenu">
                            <li class="menu__item">
                                <a href="" class="menu_link">Contacto</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Franquicias</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Ayúdanos a mejorar</a>
                            </li>
                            <li class="menu__item">
                                <a href="" class="menu_link">Corporación</a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container-footer">
            <div class="derechos-autor">Derechos de Autor 2021 - Colombia</div>
            <div class="legality">
                <a href="#">Aviso de Privacidad</a>
                <a href="#">Política de tratamiento de datos</a>
                <a href="#">Condiciones de Uso</a>
                <a href="#">Términos y condiciones</a>
            </div>
        </div>
    </section>
</div>
<script src="js/jquery-3.2.1.js"></script>
<script src="js/menu.js"></script>
</body>
</html>