<%- include('../partials/head'); %>
<body>
    <div class="container">
        <div class="content-header">
            <div class="limiter-width-page">
                <div class="header-page">
                    <div class="header-logo"></div>
                    <div class="empresa-nombre"></div>
                    <div class="right-logo"></div>
                </div>
            </div>
            <header>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="#" class="bt-close"><span class="icon-cross"></span></a>
                        </li>
                        <li>
                            <a href="/admin">Inicio</a>
                        </li>
                        <li>
                            <a href="/admin/usuarios">Usuarios</a>
                        </li>
                        <li>
                            <a href="/admin/productos">Productos</a>
                        </li>
                        <li>
                            <a href="/admin/punto-venta">Punto de Venta</a>
                        </li>
                        <li>
                            <a href="/">Cerrar Sesión</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-visible">
                    <div class="menu_bar open-close">
                        <a href="#e" class="bt-menu" id="btn-menu">
                            <div class="icon-align"><span class="icon-menu"></span></div>
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="admin">Usuario</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <div class="separator"></div>
<section class="body-info-section">
	<div class="content-secton-info" style="min-height: 50vh;">
		<div class="full-container">
			<h1 class="h-title">Panel de Administración</h1>
			<hr class="separador-text">
            <div class="table-admin">
                <a href="admin/usuarios">
                    <div class="option">
                        <div class="option-logo"></div>
                        <div class="titulo">Usuarios</div>
                    </div>
                </a>
                <a href="#">
                    <div class="option">
                        <div class="option-logo"></div>
                        <div class="titulo">Productos</div>
                    </div>
                </a>
                <a href="#">
                    <div class="option">
                        <div class="option-logo"></div>
                        <div class="titulo">Punto de Venta</div>
                    </div>
                </a>
            </div>
		</div>
	</div>
</section>
<%- include('../partials/footer'); %>