<%- include('../partials/head-admin'); %>
<%- include('../partials/admin-header'); %>
<section class="body-info-section">
	<div class="content-secton-info" style="min-height: 50vh;">
		<div class="full-container">
			<h1 class="h-title">Panel de Administración - Usuarios</h1>
			<hr class="separador-text">
            <div class="table-admin">
                <table class="table-info">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Rol</th>
                        <th>Acción</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Alfonso</td>
                            <td>25555</td>
                            <td>Administrador</td>
                            <td>
                                <a href="#" class="btn-edit">Editar</a>
                                <a href="#" class="btn-delete">Eliminar</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
		</div>
	</div>
</section>
<%- include('../partials/footer-admin'); %>